body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

form {
    display: flex;
    gap: 20px;
}

input {
    background-color: transparent;
    border-color: #c7a417;
    padding: 5px;
}

button {
    padding: 5px;
}

h1,h2,h3,h4 {
    color:#c7a417 ;
}

h2 {
    margin-top: 50px;
}

h4 {
    text-align: center;
}

.btnBorrarHistorial, .btnCerrarHistorial{
    margin-top: 15px;
}

.btnBorrarHistorial {
    margin-left: 20px;
}

#transferencia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

